openapi: 3.0.3
info:
  title: Kusa-backend
  description: Kusa-backendのAPI仕様書です。
  version: 1.0.0
servers:
  - url: https://kusa.trap.show/api
paths:
  /ping:
    get:
      summary: 挙動を確認
      description: 挙動を確認するためのものです。
      operationId: ping
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ping"
  /tasks:
    get:
      summary: 例文を取得
      description: 例文を取得
      operationId: getTasks
      parameters:
        - name: level
          in: query
          description: 難易度
          required: true
          schema:
            type: integer
            example: 1
        - name: count
          in: query
          description: 件数
          required: true
          schema:
            type: integer
            example: 5
        - name: isSensitive
          in: query
          description: 過激な内容を含むか
          required: true
          schema:
            type: boolean
            example: false
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/task"
        "400":
          description: 正しくないリクエスト
  /me:
    get:
      summary: 自身の情報を取得
      operationId: getMe
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/user"
        "400":
          description: 正しくないリクエスト
  /stamps/{fileId}:
    parameters:
      - name: fileId
        in: path
        schema:
          type: string
          format: uuid
          example: "6308a443-69f0-45e5-866f-56cc2c93578f"
        required: true
    get:
      summary: ファイルをダウンロード
      responses:
        "200":
          description: ok
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "403":
          description: Forbidden
        "404":
          description: Not Found
  /rankings:
    get:
      summary: ランキングを取得
      description: ランキングを取得
      operationId: getRanking
      parameters:
        - name: count
          in: query
          description: 取得する個数（上位）
          required: true
          schema:
            type: integer
            example: 10
        - name: level
          in: query
          description: 難易度
          required: true
          schema:
            type: integer
            example: 1
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ranking"
        "400":
          description: 正しくないリクエスト
    post:
      summary: ランキングに登録
      description: ランキングに登録
      operationId: postRanking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/gameResult"
      responses:
        "204":
          description: 成功
        "400":
          description: 正しくないリクエスト

components:
  schemas:
    ping:
      type: object
      properties:
        message:
          type: string
          example: pong
    task:
      type: array
      items:
        type: object
        properties:
          content:
            type: string
            example: 東京科学大学
          yomi:
            type: string
            example: とうきょうかがくだいがく
          iconUri:
            type: string
            example: https://q.trap.jp/api/v3/public/icon/ramdos
          authorDisplayName:
            type: string
            example: あんこ🌱
          grade:
            type: string
            example: "21B"
          authorName:
            type: string
            example: anko
          updatedAt:
            type: string
            format: date-time
            example: "2006/01/02 15:04"
          citated:
            type: string
            example: "https://q.trap.jp/messages/25e071cd-45fa-4593-99f4-399e29a2c827"
          image:
            type: string
            example: "https://q.trap.jp/files/b8050d58-17d9-4c84-a910-b670cb3b77bc"
          stamps:
            $ref: "#/components/schemas/stamp"
    stamp:
      title: MessageStamp
      type: array
      items:
        type: object
        properties:
          stampId:
            type: string
            format: uuid
            description: ユーザーUUID
          count:
            type: integer
            description: スタンプ数
            format: integer
    user:
      type: object
      properties:
        name:
          type: string
          example: anko
        iconUri:
          type: string
          example: https://q.trap.jp/api/v3/public/icon/ramdos
    ranking:
      type: array
      items:
        type: object
        properties:
          rank:
            type: integer
            example: 1
          userName:
            type: string
            example: "kavos"
          score:
            type: number
            example: 10.5
          level:
            type: integer
            example: 1
          timeStamp:
            type: string
            format: date-time
            example: "2006/01/02 15:04"
          iconUri:
            type: string
            example: https://q.trap.jp/api/v3/public/icon/ramdos
    gameResult:
      type: object
      properties:
        userName:
          type: string
          example: "kavos"
        score:
          type: number
          example: 10.5
        level:
          type: integer
          example: 1
        timeStamp:
          type: string
          format: date-time
          example: "2006/01/02 15:04"
